#root {
  margin: 0 auto;
  text-align: center;
}

.article-container{
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

blockquote {
  margin: 1.5rem 0;
  padding: 1rem;
  border-left: 5px solid #3498db;
  font-style: italic;
}

code {
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  padding: 0.5rem;
  border-bottom: 1px solid #3498db;
}

th {
  background-color: #3498db;
  color: #fff;
}
.code-block-container {
  position: relative; /* Needed for absolute positioning of copy button */
  margin-bottom: 1rem; /* Space between code blocks */
}

.code-block-container pre { /* Target the <pre> element inside */
    position: relative; /* Needed for absolute positioning of copy button */
    padding-top: 2rem; /* Make room for button */
}
.code-block-container .copy-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Smooth hover transition */
    z-index: 1; /* Ensure it's above the code */
}

.code-block-container .copy-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.copy-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's on top */
}